*{
    font-size: 12px;
    font-weight: 500;
    padding-top: 20px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-top: 20px;
}

h1{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}